<h1>Viewing company <%= @company.name %></h1><br><br>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Employees</th>
  </tr>
  </thead>
  <tbody>

      <tr>
        <td><%= @company.name %></td>
        <td><%= @company.description %></td>
        <td><%= link_to @company.employees.count, company_employees_url(@company) %></td>
      </tr>

  </tbody>

</table>


<h4><%= link_to 'Edit company', edit_company_url(@company) %></h4>
<h4><%= link_to 'View employees', company_employees_url(@company) %></h4>
<h4><%= link_to 'Back to companies', companies_path %></h4>
