<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dashboards.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dashboards.description %>
</p>

<%= link_to 'Edit', edit_dashboard_path(@dashboards[:id]) %> |
<%= link_to 'Back', dashboards_path %>
